.container {
    padding: 0 !important;

    .parallax {
        background-image: url('../assets/initial.jpg');
        height: 100vh; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .footer {
        height:1000px;
        background-color: white;
        font-size:36px
    }
}